---
import AboutMe from "@/components/AboutMe.astro";
import ClientQuestions from "@/components/ClientQuestions.astro";
import MarqueeBar from "@/components/MarqueeBar.astro";
import Testimonials from "@/components/Testimonials.astro";
---

  <main class="flex-grow max-w-6xl mx-auto px-4 sm:px-6">
    <ClientQuestions />
    <MarqueeBar />
    <AboutMe />
    <Testimonials />
  </main>
</div>
