---
const linkbackPath = `/${Astro.url.pathname.split("/")[1]}`;
---

<div class="text-center mt-12 mb-16">
  <a href={linkbackPath} class="brutalist-button inline-block">
    Back to all Posts</a
  >
</div>
