<div
  class="bg-brutalist-black text-brutalist-white py-3 md:py-4 mb-8 md:mb-12 reveal"
>
  <div class="scroll-marquee">
    <div class="scroll-marquee-content text-lg md:text-2xl">
      AWS CERTIFIED DEVELOPER • JAVASCRIPT EXPERT • NODE.JS SPECIALIST •
      FULL-STACK DEVELOPER • PROJECT DELIVERY • PROBLEM SOLVER • AWS CERTIFIED
      DEVELOPER • JAVASCRIPT EXPERT • NODE.JS SPECIALIST • FULL-STACK DEVELOPER
      • PROJECT DELIVERY • PROBLEM SOLVER •&nbsp;
    </div>
  </div>
</div>
