---
import Footer from "@components/Footer.astro";
import "../styles/index.css"; // the new file created by loveable

import Favicon from "./Favicon.astro";
import GoogleFont from "./GoogleFont.astro";
---

<!DOCTYPE html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Astro" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <GoogleFont />
    <Favicon />
    <slot name="meta" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WDQPYRHTZG"
    ></script><script>
      declare global {
        interface Window {
          dataLayer: any;
        }
      }

      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      // @ts-ignore
      gtag("js", new Date());
      // @ts-ignore
      gtag("config", "G-WDQPYRHTZG");
    </script></head
  >
  <body>
    <div class="stack">
      <slot name="header" />
      <slot name="main" />
      <slot name="call-to-action" />
      <slot />
      <Footer />
    </div>
  </body>
  <script src="../lib/scrollReveal.ts"></script>
</html>
